rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /users/{userId} {
      allow read, write: if request.auth != null && request.auth.uid == userId;

      match /watchlist/{movieId} {
        allow read, write: if request.auth != null && request.auth.uid == userId;
      }
      match /watched_movies/{movieId} {
        allow read, write: if request.auth != null && request.auth.uid == userId;
      }
      match /rated_movies/{movieId} {
        allow read, write: if request.auth != null && request.auth.uid == userId;
      }
    }
    
    match /movies/{movieId}/comments/{commentId} {
      allow read: if request.auth != null;
      allow create: if request.auth != null && request.resource.data.userId == request.auth.uid;
      allow update, delete: if request.auth != null && resource.data.userId == request.auth.uid;
    }
  }
}
